{{! 中间信息 ( 帮助, 联系方式, 二维码 ) }}
	<div class="f-center">
		<div class="f-info">
			<ul class="f-list f-list-1">
				<li><a href="/aboutMe.do">关于我们</a></li>
				<li><a href="/contract.do">联系我们</a></li>
				<li><a href="/quesction.do">常见问题</a></li>
				<li><a href="/statement.do">法律声明</a></li>
				<li><a href="/recuritment.do">诚聘英才</a></li>
				<li><a href="/mediaReport.do">媒体报道</a></li>
			</ul>
			<ul class="f-list f-list-2">
				<li>客服微信：maidoulvxing</li>
				<li>客服电话：4000-758-758</li>
				<li>意见建议：qa@maidou.com</li>
				<li>工作时间：09:00-20:00（周一至周日）</li>
			</ul>
			<ul class="f-list f-list-3">
				<li><img src="{{staticPath}}/img/common/ft-wx.jpg" alt="" width="133" height="130"></li>
			</ul>
			<div class="f-list f-list-4">
				<ul>
					<li><span>关注麦兜旅行微信</span></li>
					<li><span>即刻获得精品线路</span></li>
					<li><span>享粉丝专属优惠</span></li>
				</ul>
				<p>扫一扫，关注麦兜旅行</p>
			</div>
		</div>
	</div>