{{! 中间信息 ( 帮助, 联系方式, 二维码 ) }}
	<div class="f-promise">
		<h3 class="fp-title"></h3>

		<div class="fp-list">
			<a href="/promise.do#area01" target="_blank">
				<i class="ico-24h"></i>
				<p>无理由退款</p>
			</a>
			<a href="/promise.do#area02" target="_blank">
				<i class="ico-visa"></i>
				<p>签证无忧</p>
			</a>
			<a href="/promise.do#area03" target="_blank">
				<i class="ico-true"></i>
				<p>所见即所得</p>
			</a>
			<a href="/promise.do#area04" target="_blank">
				<i class="ico-speed"></i>
				<p>极速响应</p>
			</a>
			<a href="/promise.do#area05" target="_blank">
				<i class="ico-active"></i>
				<p>主动赔付</p>
			</a>
			<a href="/promise.do#area06" target="_blank">
				<i class="ico-double"></i>
				<p>双重退订保障</p>
			</a>
			<a href="/promise.do#area07" target="_blank">
				<i class="ico-security"></i>
				<p>重大灾害保障</p>
			</a>
			<a href="/promise.do#area08" target="_blank">
				<i class="ico-love"></i>
				<p>爱的礼物</p>
			</a>
		</div>

	</div>